ul {
    width: 50%;
}
.lineThrough {
    text-decoration: line-through;
}

li {
    display: flex;
    align-items: center;
}

.checkbox {
    margin: 0 0.4em;
}

span {
    margin-left: 2em;
    font-size: 2em;
}

span:hover {
    color: red;
    cursor: default;
}

label input {
    border-style: none;
}